<input type="text" ng-model="projectList.search" class="search-query" id="projects_search" placeholder="Search">
<div class="container">       

<div class="row">
  <div ng-repeat="project in projects">
    <div class="col s12 l10">
    <div class="card horizontal">
      <div class="card-image">
        <img ng-src="{{project.imagen}}" >
      </div>
      <div class="card-stacked">
        <div class="card-cxontent">
          <h5>{{project.precio}} Bs.</h5>
          <p>{{project.ubicacion}}</p>
          <p>{{project.detalles}}</p>
        </div>
      <div class="card-action">
          <a ng-click="redireccionar(project.id)">VER MÁS DETALLES</a>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>